# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

build-example.html
flavorcss-website
pages/*
static/*
.next/*
out/*
rollup.config.js
rollup.tsconfig.json
deploy.js
jest.config.js
tslint.json
pnpm-lock.yaml
yarn.lock
components
hooks
document
.vscode
.cache