# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

flavorcss-base
flavorcss-website
pages/*
static/*
.next/*
out/*
rollup.config.js
rollup.tsconfig.json
deploy.js
tslint.json
yarn.lock
components
hooks
document
.vscode
.cache