html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /*line-height: 1.15;*/
  line-height: 1.5;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: inherit;
  line-height: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

hr {
  border-top-width: 1px;
}

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

[role="button"],
button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

/* self scroll */

:root {
  --scrollbar-width: 4px;
  --scrollbar-bg: rgba(0, 0, 0, 0);
  --scrollbar-bg-shadow: rgba(0, 0, 0, 0.1);
  --scrollbar-bar: rgba(0, 0, 0, 0.12);
  --scrollbar-bar-hover: rgba(0, 0, 0, 0.32);
  --scrollbar-bar-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --scrollbar-bg: rgba(30, 30, 30, 0.1);
    --scrollbar-bg-shadow: rgba(30, 30, 30, 0.1);
    --scrollbar-bar: rgba(255, 255, 255, 0.1);
    --scrollbar-bar-hover: rgba(255, 255, 255, 0.32);
    --scrollbar-bar-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
  }
}

@media (pointer: fine) {
  ::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
  }

  ::-webkit-scrollbar-track-piece,
  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar {
    background-color: var(--scrollbar-bg);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: var(--scrollbar-width);
    width: var(--scrollbar-width);
    background-color: var(--scrollbar-bar);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-bar-hover);
  }
}

/* self */
html {
  width: 100%;
  height: 100%;
  display: table;
}

body {
  width: 100%;
  display: table-cell;
}

html,
body {
  margin: 0;
  padding: 0;
}

body,
input {
  background: #fff;
  color: #000;
}

@media (prefers-color-scheme: dark) {
  body,
  input {
    background: #000;
    color: #fff;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  outline: none;
  user-select: none;
  -webkit-appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p,
input,
textarea {
  user-select: auto;
}

// flex

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.col-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.start-start {
  justify-content: flex-start;
  align-items: flex-start;
}

.center-center {
  justify-content: center;
  align-items: center;
}

.end-end {
  justify-content: flex-end;
  align-items: flex-end;
}

.start-center {
  justify-content: flex-start;
  align-items: center;
}

.center-start {
  justify-content: center;
  align-items: center;
}

.start-end {
  justify-content: flex-start;
  align-items: flex-end;
}

.end-start {
  justify-content: flex-end;
  align-items: flex-start;
}

.center-end {
  justify-content: center;
  align-items: flex-end;
}

.end-center {
  justify-content: end;
  align-items: center;
}

@media screen and (min-width: 640px) {
  .sm-col {
    display: flex;
    flex-direction: column;
  }

  .sm-row {
    display: flex;
    flex-direction: row;
  }

  .sm-row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .sm-col-reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .sm-start-start {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .sm-center-center {
    justify-content: center;
    align-items: center;
  }

  .sm-end-end {
    justify-content: flex-end;
    align-items: flex-end;
  }

  .sm-start-center {
    justify-content: flex-start;
    align-items: center;
  }

  .sm-center-start {
    justify-content: center;
    align-items: center;
  }

  .sm-start-end {
    justify-content: flex-start;
    align-items: flex-end;
  }

  .sm-end-start {
    justify-content: flex-end;
    align-items: flex-start;
  }

  .sm-center-end {
    justify-content: center;
    align-items: flex-end;
  }

  .sm-end-center {
    justify-content: end;
    align-items: center;
  }
}
