<h1 class="font-size:40px font-weight:800 line-height:1">
  Rule 8: Custom group, Prevention of CSS pollution
</h1>
<p class="[md] info">
  Use &lt;template&gt; and set attribute: flavor="the-group"
</p>
<p class="[md] code">
  &lt;template flavor="the-group"&gt;&lt;/template&gt;
</p>
<p class="[md] info">
  If b in 'the-group', use the-group.b, elase use global.b
</p>
<p class="[md] code">
  [the-group] b:#f66 cart:#f00
</p>
<div class="mb:30px"></div>
<!-- edit-code -->
<!-- flavor="" is global -->
<template flavor>
  card: border-radius:8px padding:16px margin:8px;
</template>
<template flavor="group-a">
  b: background:$1;
</template>
<template flavor="group-b">
  b: border:$1|solid|#000;
</template>
<div class="[group-a] b:#f66 card">
  Example use group-a
</div>
<div class="[group-b] b:2px card">
  Example use group-b
</div>

<!-- In project your can use flavorcss.addGroup API -->
<!-- 
<script type="module">
  import { flavorcss } from 'flavorcss'
  flavorcss.addGroup('group-c', 'b: background:$1; m: margin:$1;')
</script>
-->