<h1 class="font-size:40px font-weight:800 line-height:1">
  Rule 4: Pseudo class
</h1>

<p class="[md] info">(All Pseduo list at page footer)</p>
<p class="[md] info">Add Pseduo before background:</p>
<p class="[md] code">
  hover:background:hsl(200,50%,45%)
</p>
<div class="mb:30px"></div>
<!-- edit-code -->
<button class="
    sm:hover:box-shadow:0px|8px|0px|hsla(200,50%,20%,0.15)
    sm:hover:background:hsl(200,50%,45%)
    active:background:hsl(210,50%,40%)
    active:transform:translateY(2px)
    active:box-shadow:0px|2px|0px|hsla(200,50%,20%,0.15)
    background:hsl(200,50%,50%)
    color:#fff
    padding:8px|16px
    margin:40px
    border-radius:6px
    transition:0.15s|all|ease-out
    ">
  Click me
</button>