<h1 class="font-size:40px font-weight:800 line-height:1">
  Rule 9: Declare Media class.
</h1>
<p class="[md] info">
  If you want to actively stimulate a media query, such as dark, you can add the parent class 'media-dark'. All media
  queries are supported, such as 'media-sm', 'media-phone'...
</p>
<p class="[md] info">Use declare media class:</p>
<p class="[md] code">
  media-name
</p>
<div class="mb:30px"></div>
<!-- edit-code -->
<!-- If your device is dark:-->
<div>
  <div class="
  dark:background:hsl(220,50%,20%)
  dark:color:#fff
  padding:20px
  margin:20px
  border-radius:10px">
    Modify your device to dark theme, element active black.
  </div>
</div>
<!-- Declare dark:-->
<div class="media-dark">
  <div class="
  dark:background:hsl(220,50%,20%)
  dark:color:#fff
  padding:20px
  margin:20px
  border-radius:10px">
    use 'media-dark', element always active black.
  </div>
</div>
<img src="/imgs/dark.png" />