<h1 class="font-size:40px font-weight:800 line-height:1">
  Rule 6: Use CSS Selector
</h1>
<p class="[md] info">CSS Descendant selector:</p>
<p class="[md] code">
  background:#f66:span
</p>
<p class="[md] info">CSS Child selector:</p>
<p class="[md] code">
  background:#f66:>span
</p>
<p class="[md] info">CSS Adjacent sibling selector:</p>
<p class="[md] code">
  background:#f66:span+span
</p>
<div class="mb:30px"></div>
<!-- edit-code -->
<div class="background:#f66:>div font-size:20px:div+div padding:8px:* border-radius:4px:* margin:10px:*">
  <section>section</section>
  <div>div</div>
  <section>section</section>
  <div>div</div>
  <div>div and brother</div>
  <div>div and brother</div>
</div>