<h1 class="font-size:40px font-weight:800 line-height:1">
  Rule 4: Use CSS Selector
</h1>
<p class="*md info">CSS Descendant selector:</p>
<p class="*md code">
  span:background:#f66
</p>
<p class="*md info">CSS Child selector:</p>
<p class="*md code">
  >span:background:#f66
</p>
<p class="*md info">CSS Adjacent sibling selector:</p>
<p class="*md code">
  span+span:background:#f66
</p>
<p class="*md code">
  span:hover:background:#f66
</p>
<div class="mb:30px"></div>
<!-- edit-code -->
<div class=">div:background:#f66 div+div:font-size:20px *:padding:8px *:border-radius:4px *:margin:10px">
  <section>section</section>
  <div>div</div>
  <section>section</section>
  <div>div</div>
  <div>div and brother</div>
  <div>div and brother</div>
</div>