<h1 class="font-size:40px font-weight:800 line-height:1">
  High Rule 9: Declare Media class.
</h1>
<p class="[md] info">Use declare media class:</p>
<p class="[md] code">
  media-name
</p>
<div class="mb:30px"></div>
<!-- edit-code -->
<!-- If your device is dark:-->
<div>
  <div class="
  dark:background:hsl(220,50%,20%)
  dark:color:#fff
  padding:20px
  margin:20px
  border-radius:10px">
    Try Change your device theme
  </div>
</div>
<!-- Declare dark:-->
<div class="media-dark">
  <div class="
  dark:background:hsl(220,50%,20%)
  dark:color:#fff
  padding:20px
  margin:20px
  border-radius:10px">
    Try Change your device theme
  </div>
</div>
<img src="/imgs/dark.png" />