<h1 class="font-size:40px font-weight:800 line-height:1">
  Rule 1: Like inline style
</h1>
<!-- please ingore md-info, we learn there after -->
<p class="md-info">All styles are supported (except -webkit).</p>
<p class="md-info">
  An runtime library with parameters; it's easy to customize hundreds of atomic
  classes; it's easy to implement media query and pseudo class, and it's perfect
  with CSS variables.
</p>
<p>Try change editor, you can use any values:</p>
<p class="md-code">font-size:20px</p>
<p class="md-code">font-size:4rem</p>
<p>Last char '!', use '!important'</p>
<p class="md-code">font-size:4rem!</p>
<div class="mb:30px"></div>
<!-- edit-code -->
<div class="font-size:30px">Please Edit left Editor</div>
<div class="font-size:30px font-size:16px!">
  try to modify class="font-size:40px"
</div>
