<h1 class="*title:60px font-size:40px font-weight:800 line-height:1">
  Rule 2: No spaces in class
</h1>
<p class="md-info">use '|' replace ' ', example:</p>
<p class="md-code">padding:20px|30px</p>
<p class="md-code">border:2px|solid|#888</p>
<div class="mb:30px"></div>
<!-- edit-code -->
<div class="border:2px|solid|#888 padding:20px|30px border-radius:8px">
  Example border
</div>
<div class="font-size:20px padding:20px|0">
  add border:1px|solid|#000
</div>