<h1 class="font-size:40px font-weight:800 line-height:1">
  Rule 9: Ignore flavor Observer elements
</h1>
<p class="md-info">Like Monaco Editor is big and not use flavor, the best idea is ignore observer monaco's elements
  use flavor.</p>
<p class="md-info">If you need ignore flavor Observer, set attribute flavor-ignore to top element.</p>
<p class="md-info">flavor-ignore only ignore in add new element; not activate in this website.</p>

<div class="mb:30px"></div>
<!-- edit-code -->
<div flavor-ignore>
  <div class="font-size:18px">Ignore Example</div>
</div>