Grid 2x2
<!-- edit-code -->
<div class="margin:20px">
  <section class="md:text-align:center:* max-width:980px margin:0|auto display:grid md:place-content:center">
    <h3 class="color:hsl(220,50%,45%) font-weight:700">TRANSACTIONS</h3>
    <h2 class="color:hsl(220,60%,20%) font-size:36px font-weight:800">
      A better way to use atomic class
    </h2>
    <h4 class="max-width:600px color:hsl(200,40%,30%) font-size:22px font-weight:300 margin:20px|0">
      The scheme of flavourcss avoids the problem of how to determine the boundary of the number of atomic classes.
      Flavourcss compiles atomic class at runtime, which directly solves the volume and engineering configuration
      problems of massive atomic class.
    </h4>
  </section>
  <template flavor-css>
    section: max-width:400px display:grid grid-template-columns:50px|auto grid-gap:20px;
  </template>
  <main class="
          margin:40px|0px display:grid 
          grid-template-columns:repeat(auto-fill,100%)
          md:grid-template-columns:repeat(auto-fill,375px)
          place-content:center grid-gap:60px
          ">
    <setcion class="max-width:400px display:grid grid-template-columns:50px|auto grid-gap:20px">
      <img src="/imgs/right.svg" />
      <div class="diplay:grid grid-template-rows:50px|auto">
        <h3 class="font-weight:500 font-size:20px color:hsl(220,50%,20%)">
          No configuration project required
        </h3>
        <h4 class="font-weight:300 font-size:16px color:hsl(200,50%,35%)">
          Flavor CSS only import a js library, Using CSS variable reasonably, modifying the value of atomic class does
          not need rebuild.
        </h4>
      </div>
    </setcion>
    <setcion class="max-width:400px display:grid grid-template-columns:50px|auto grid-gap:20px">
      <img src="/imgs/right.svg" />
      <div class="diplay:grid grid-template-rows:50px|auto">
        <h3 class="font-weight:500 font-size:20px color:hsl(220,50%,20%)">
          Infinite atomic classes
        </h3>
        <h4 class="font-weight:300 font-size:16px color:hsl(200,50%,35%)">
          Conventional Atomic class with different values, media queries, pseudo class combination, there will be a very
          large number. If we only use part of them, we will need to leave HTML. Flavor CSS dynamically compiles and
          adds the atomic classes we use.
        </h4>
      </div>
    </setcion>
    <setcion class="max-width:400px display:grid grid-template-columns:50px|auto grid-gap:20px">
      <img src="/imgs/right.svg" />
      <div class="diplay:grid grid-template-rows:50px|auto">
        <h3 class="font-weight:500 font-size:20px color:hsl(220,50%,20%)">
          Rich functions
        </h3>
        <h4 class="font-weight:300 font-size:16px color:hsl(200,50%,35%)">
          Support more than 20 kinds of media query, including screen width, device type, dark; support nearly complete
          pseudo class; support CSS selector.
        </h4>
      </div>
    </setcion>
    <setcion class="max-width:400px display:grid grid-template-columns:50px|auto grid-gap:20px">
      <img src="/imgs/right.svg" />
      <div class="diplay:grid grid-template-rows:50px|auto">
        <h3 class="font-weight:500 font-size:20px color:hsl(220,50%,20%)">
          Dynamic customization
        </h3>
        <h4 class="font-weight:300 font-size:16px color:hsl(200,50%,35%)">
          Flavor supports all inline styles by default. It also provides the function of self defining atomic classes,
          and it can partition the namespace to prevent CSS pollution.
        </h4>
      </div>
    </setcion>
  </main>
</div>